1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

Ans- In the following elements-
     "hello" , -87.8, 6 are the values
     * , - , +, / , are the expressions

2. What is the difference between string and variable?

Ans- A Variable is used to store the information, and a String is a type of information we would store in a Variable.

3. Describe three different data types.

Ans- The three different data types are -
     
     1. Integer - it represent the whole number. For example- 2 , 45,100
    
    2. Floating number - it represents the floating or demical point values. 
                          For example- 2.3, 55.25, 225.37
    
    3. Complex- it represents the complex number which consits of a real                     number and imaginary number. For example - 20+5j, 40-3j

4. What is an expression made up of? What do all expressions do?

Ans- An expression is made up of combination of values, varialbles, operators and calls to function.  Expressions need to be evaluated. If we ask       Python to print an expression, the interpreter evaluates the expression and displays the result.

In [4]:
50+20-30*2/4  #is an example of expression

55.0

5.This assignment statements, like spam = 10. What is the difference between 
   an expression and a statement?

Ans- An expression is made up of combination of values, varialbles, operators
     and calls to function.  Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the
     statement says. In general, statements donâ€™t have values.

In [5]:
#Example
50+20-30*2/4  #is an example of expression
a= "vivek"  #is an statement

6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [8]:
bacon=22
bacon + 1

23

After running the following code, the variable "bacon" contains the value set to 22.

7.What should the values of the following two terms be?
'spam'+'spamspam'
'spam'*3

In [11]:
"spam"+"spamspam"

'spamspamspam'

In [12]:
"spam"*3

'spamspamspam'

The first expression follows string concatentation and 
the second expression follows string multiplication

8. Why is eggs a valid variable name while 100 is invalid?

Ans- Variables cannot start with a number.

Variables name must start with a letter or the underscore character.

9.What three functions can be used to get the integer,floating-point number,or string version of a value?

In [19]:
int(23)

23

In [20]:
float(23.12)

23.12

In [21]:
str("vivek")

'vivek'

Ans- The int() , float(), str() functions can be used to get the integer, floating number, or string version od=f a value.

10.Why does this expression cause an error? how can you fix it?
'I have eaten ' + 99 + 'burritos.'

In [22]:
"I have eaten" + 99 +"burritos"

TypeError: can only concatenate str (not "int") to str

Ans- This expression causes an error because 99 is not a string. 99 must be
typecasted in a string format to fix this error.

In [3]:
"I have eaten" + " 99" +" burritos"

'I have eaten 99 burritos'